.blog{
    background-image: url(../images/work-process-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.blog .section-head p {
    color: var(--fourth-color);
}

@media (min-width:992px){
    .blog-items{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap:10px
    }
}
@media (min-width:768px) and (max-width:991px){
    .blog-items{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:10px
    }
}

@media (max-width:767px){
    .blog-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        gap:10px
    }
}

.blog-item{
    text-align: center;
    position: relative;
    height:170px;
    transition: transform .5s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}
.blog-item:hover{
    transform: rotateY(180deg);
}

.blog-lay{
    position: absolute;
    background-color: var(--second-color);
    width:100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    backface-visibility: hidden
}
.blog-lay h3{
    font-weight: normal;
}
.blog-item-content{
    position: absolute;
    background-color: var(--fourth-color);
    z-index: 1;
    padding:20px;
    width:100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform .5s ease-in-out;
}
.blog-item-content h3{
    padding: 10px 0;
    text-transform: capitalize;
}
.blog-item-content p {
    line-height: 1.5;
    color:var(--fifth-color);
    font-size: 14px;
    text-transform: capitalize;
}

@media (max-width:400px){
    .blog-item-content, .blog-lay{
        width:100%
    }
    .blog{
        width: 400px;
    }
    .blog-items{
        text-align: center;
    }
}

